body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #f1ce67;
  color: #15120a;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

nav {
  margin-top: 20px;
}

nav a {
  color: #15120a;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #705814;
}

ul,
ol {
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #705814;
  color: white;
}

img {
  max-width: 30px;
  height: auto;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1ce67;
  color: #15120a;
  border-radius: 5px;
}
